<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="PROJECT_NAME">project</property>
        <property name="LOG_PATH">./${PROJECT_NAME}/</property>
        <property name="LOG_FILE">log</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%highlight{%-d{yyyy-MM-dd HH:mm:ss} %t[%T] [%c]-[%p] - %m%n}</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="warn">
        </Logger>
        <Logger name="com.k2data" level="debug">
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>